<div id="sidebar">
  <div id="row1">
    <div id="sidebarHeader">
      <div class="avatarContainer">
        <img src="../../assets/noPic.svg">
      </div>
      <div class="actionsContainer">
        <img class="img1" width="50px" src="../../assets/statusIcon.svg">
        <img class="img2" src="../../assets/chatIcon.svg">
        <img class="img3" src="../../assets/moreVertIcon.svg" alt="">
      </div>
    </div>
    <div id="searchBox">
      <img width="25" src="../../assets/searchIcon.svg" alt="">
      <input type="text" placeholder="Search or start new chat">
    </div>
  </div>


  <div id="sidebarContent">
    <!-- <div id="noConversations">
        All chats are archived
      </div> -->
    <div class="conversation" *ngFor="let conversation of conversations"
      (click)="conversationsClicked.emit(conversation)">
      <div class="picture">
        <img width="50" src="../../assets/noPic.svg">
      </div>
      <div (click)="chatClick(conversation.name)" class="content">
        <!-- (click)="chatClick(conversation.name)"  -->
        <div  class="conversationHeader">
          <div class="name">{{conversation.name}}</div>
          <div class="time">{{conversation.time}}</div>
        </div>
        <div class="message">
          <img *ngIf="!conversation.latestMessageRead" width="15" src="../../assets/doubleTick.svg">
          <img *ngIf="conversation.latestMessageRead" width="15" src="../../assets/doubleTickBlue.svg">
          {{conversation.message}}
        </div>
      </div>
    </div>



  </div>
</div>